# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Data and large files (not tracked in git)
raw_data/
nnUNet_raw/
nnUNet_preprocessed/
nnUNet_results/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
